
.content-inmueble {
    padding-left: 0.7em !important;
}

.p_1 {
    margin-top: 1%;
}

.p_2 {
    margin-top: -4%;
}

.p_3 {
    margin-top: -4%;
}

.p_4 {
    margin-top: -4%;
}

.p_5 {
    margin-top: -4%;
}
